.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding: 50px;
}

body{
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;
  color: #40514E;
}
h1{
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #293b5f;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #47597e;

}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #293b5f;
}


.bottom_cloud{
  position: absolute;
  left: 300px;
  bottom: 450px;
}

.top_cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.middle-container{
  margin-top: 20px;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.web-development{
width: 25%;
float: left;
margin-right: 30px;
}

.software-testing{
width: 25%;
float: right;
margin-left: 30px;
}

.aprogrammer{
  font-size: 1.2rem;
}

.intro{
  width: 30%;
  margin: auto;
}

p{
  line-height: 2;
}

.btn {
  background: #86c2eb;
  background-image: -webkit-linear-gradient(top, #86c2eb, #047cc7);
  background-image: -moz-linear-gradient(top, #86c2eb, #047cc7);
  background-image: -ms-linear-gradient(top, #86c2eb, #047cc7);
  background-image: -o-linear-gradient(top, #86c2eb, #047cc7);
  background-image: linear-gradient(to bottom, #86c2eb, #047cc7);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #9ecdeb;
  background-image: -webkit-linear-gradient(top, #9ecdeb, #90a8b8);
  background-image: -moz-linear-gradient(top, #9ecdeb, #90a8b8);
  background-image: -ms-linear-gradient(top, #9ecdeb, #90a8b8);
  background-image: -o-linear-gradient(top, #9ecdeb, #90a8b8);
  background-image: linear-gradient(to bottom, #9ecdeb, #90a8b8);
  text-decoration: none;
}

.bottom-container{
  background-color: #3edbf0;
  margin: 20px auto -10px;
  padding: 30px;
}

a{
  text-decoration: none;
  color: #233e8b;
  margin: 10px;
  font-size: .75rem;
}

a:hover{
  color: #fdfaf6
}

.copyright{
  font-size: 0.75rem;
  color: #fdfaf6;
}
